@charset: "utf-8";

body {
    margin: 0;
    color: #000;
    font-family: sans-serif;
}

header {
    background-color: #f3e7ff;
    padding: 32px 0 32px 0;
}

.container {
    /*background-color: pink;*/
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.icon {
    /*background-color: skyblue;*/
}

.icon img {
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: pink;
}

.info {
    /*background-color: tomato;*/
    margin-left: 32px;
}

.info p {
    margin: 0;
    margin-bottom: 16px;
}

.info ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.info ul li {
    margin-right: 8px;
}

.info h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.info img {
    width: 20px;
    height: 20px;
}

.works{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.works > h1{
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	margin: 60px 0 60px 0;
}

.works > section{
	margin-bottom: 60px;
}

.explain p{
	line-height: 2;
	margin: 0;
}

.explain{
	margin-top: 20px;
}

.works > section{
	margin-bottom: 60px;
}

footer p{
	font-size: 18px;
	text-align: center;
	margin-bottom: 30px;
}
